table {
  width: 50%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #646aaa;
}
h2 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  color: #646aaa;
  border: 4px solid #646aaa;
}
table {
  font-size: 1rem;
}
